@model List<Q8_ReactFrontEnd.Models.Employee>

@{
    ViewData["Title"] = "Employee List";
}

<div class="text-center">

    <h1 class="display-4">Employee List</h1>

</div>


@foreach (var item in Model)
{
    <div class="card p-3 mb-3">

        <h3 class="text-center">Employee Details</h3>

        <p>
            <b>Id:</b> @item.Id
        </p>

        <p>
            <b>Name:</b> @item.Name
        </p>

        <p>
            <b>Department:</b> @item.Department
        </p>

        <p>
            <b>Salary:</b> @item.Salary
        </p>

    </div>
}